/*.switch{ border:none; background:left no-repeat; width:95px; height:31px; padding:0; margin:0; }
.on, .off{ width:47px !important; height:31px; display:inline-block; cursor:pointer; }

.switch_1{ border:none; background:left no-repeat; width:95px; height:31px; padding:0; margin:0; }
.on_1, .off_1{ width:47px !important; height:31px; display:inline-block; cursor:pointer; }

.switch_2{ border:none; background:left no-repeat; width:95px; height:31px; padding:0; margin:0; }
.on_2, .off_2{ width:47px !important; height:31px; display:inline-block; cursor:pointer; }

.switch_3{ border:none; background:left no-repeat; width:95px; height:31px; padding:0; margin:0; }
.on_3, .off_3{ width:47px !important; height:31px; display:inline-block; cursor:pointer; }

.switch_4{ border:none; background:left no-repeat; width:95px; height:31px; padding:0; margin:0; }
.on_4, .off_4{ width:47px !important; height:31px; display:inline-block; cursor:pointer; }

.switch_5{ border:none; background:left no-repeat; width:95px; height:31px; padding:0; margin:0; }
.on_5, .off_5{ width:47px !important; height:31px; display:inline-block; cursor:pointer; }

.switch_6{ border:none; background:left no-repeat; width:95px; height:31px; padding:0; margin:0; }
.on_6, .off_6{ width:47px !important; height:31px; display:inline-block; cursor:pointer; }

.switch_7{ border:none; background:left no-repeat; width:95px; height:31px; padding:0; margin:0; }
.on_7, .off_7{ width:47px !important; height:31px; display:inline-block; cursor:pointer; }

.switch_8{ border:none; background:left no-repeat; width:95px; height:31px; padding:0; margin:0; }
.on_8, .off_8{ width:47px !important; height:31px; display:inline-block; cursor:pointer; }

.switch_9{ border:none; background:left no-repeat; width:95px; height:31px; padding:0; margin:0; }
.on_9, .off_9{ width:47px !important; height:31px; display:inline-block; cursor:pointer; }

.switch_10{ border:none; background:left no-repeat; width:95px; height:31px; padding:0; margin:0; }
.on_10, .off_10{ width:47px !important; height:31px; display:inline-block; cursor:pointer; }

.switch_11{ border:none; background:left no-repeat; width:95px; height:31px; padding:0; margin:0; }
.on_11, .off_11{ width:47px !important; height:31px; display:inline-block; cursor:pointer; }

.switch_12{ border:none; background:left no-repeat; width:95px; height:31px; padding:0; margin:0; }
.on_12, .off_12{ width:47px !important; height:31px; display:inline-block; cursor:pointer; }

.switch_13{ border:none; background:left no-repeat; width:95px; height:31px; padding:0; margin:0; }
.on_13, .off_13{ width:47px !important; height:31px; display:inline-block; cursor:pointer; }



*/