@font-face {
										font-family: 'Afta sans';
										src: url('aftasansthin-regular-webfont.woff');
										src: url('aftasansthin-regular-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}