@font-face {
										font-family: 'After Shok';
										src: url('After_Shok-webfont.woff');
										src: url('After_Shok-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}