@font-face {
										font-family: 'Aguafina Script';
										src: url('aguafinascript-regular-webfont.woff');
										src: url('aguafinascript-regular-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}