@font-face {
										font-family: 'Aldo';
										src: url('Aldo_Open-webfont.woff');
										src: url('Aldo_Open-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}