@font-face {
										font-family: 'Aleo';
										src: url('aleo-regular-webfont.woff');
										src: url('aleo-regular-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}