@font-face {
										font-family: 'Allura';
										src: url('allura-regular-webfont.woff');
										src: url('allura-regular-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}