@font-face {
										font-family: 'Almendra';
										src: url('almendra-regular-webfont.woff');
										src: url('almendra-regular-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}