@font-face {
										font-family: 'Amadeus Regular';
										src: url('Amadeus-webfont.woff');
										src: url('Amadeus-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}