@font-face {
										font-family: 'Anagram';
										src: url('Anagram-webfont.woff');
										src: url('Anagram-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}