@font-face {
										font-family: 'Anderson Captain Scarlet';
										src: url('anderson-thunderbirds-are-go-webfont.woff');
										src: url('anderson-thunderbirds-are-go-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}