@font-face {
							font-family: 'Andika New Basic';
							src: url('andikanewbasic-r-webfont.woff');
							src: url('andikanewbasic-r-webfont.woff') format('woff');
							font-weight: normal;
							font-style: normal;
						}