@font-face {
										font-family: 'Barrio';
										src: url('barrio-regular-webfont.woff');
										src: url('barrio-regular-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}