@font-face {
										font-family: 'Belligerent Madness';
										src: url('belligerent-webfont.woff');
										src: url('belligerent-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}