@font-face {
										font-family: 'Black Jack';
										src: url('black_jack-webfont.woff');
										src: url('black_jack-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}