@font-face {
										font-family: 'Boston Traffic';
										src: url('boston_traffic-webfont.woff');
										src: url('boston_traffic-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}