@font-face {
							font-family: 'BPdots';
							src: url('bpdots-webfont.woff');
							src: url('bpdots-webfont.woff') format('woff');
							font-weight: normal;
							font-style: normal;
						}