@font-face {
										font-family: 'Brush-Script';
										src: url('brushscriptbt-regular-webfont.woff');
										src: url('brushscriptbt-regular-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}