@font-face {
										font-family: 'Calibri';
										src: url('calibri-webfont.woff');
										src: url('calibri-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}