@font-face {
										font-family: 'Cantarell';
										src: url('cantarell-regular-webfont.woff');
										src: url('cantarell-regular-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}