@font-face {
										font-family: 'Caviar Dreams';
										src: url('CaviarDreams-webfont.woff');
										src: url('CaviarDreams-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}