@font-face {
										font-family: 'Cherryswash';
										src: url('cherryswash-regular-webfont.woff');
										src: url('cherryswash-regular-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}