@font-face {
										font-family: 'condiment';
										src: url('condiment-regular-webfont.woff');
										src: url('condiment-regular-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}