@font-face {
							font-family: 'Crimson Text';
							src: url('crimsontext-regular-webfont.woff');
							src: url('crimsontext-regular-webfont.woff') format('woff');
							font-weight: normal;
							font-style: normal;
						}