@font-face {
										font-family: 'Daniel';
										src: url('daniel-webfont.woff');
										src: url('daniel-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}