@font-face {
							font-family: 'DejaVu Sans Mono';
							src: url('dejavusansmono-webfont.woff');
							src: url('dejavusansmono-webfont.woff') format('woff');
							font-weight: normal;
							font-style: normal;
						}