@font-face {
										font-family: 'Dymaxion Script';
										src: url('DymaxionScript-webfont.woff');
										src: url('DymaxionScript-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}