@font-face {
										font-family: 'ElliotSix';
										src: url('ElliotSix-webfont.woff');
										src: url('ElliotSix-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}