@font-face {
										font-family: 'Euphoria Script';
										src: url('euphoriascript-regular-webfont.woff');
										src: url('euphoriascript-regular-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}