@font-face {
										font-family: 'Exo';
										src: url('exo-regular-webfont.woff');
										src: url('exo-regular-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}