@font-face {
										font-family: 'Fingerpaint';
										src: url('fingerpaint-regular-webfont.woff');
										src: url('fingerpaint-regular-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}