@font-face {
										font-family: 'Flux Architect';
										src: url('flux_architect_regular-webfont.woff');
										src: url('flux_architect_regular-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}