@font-face {
										font-family: 'Folks';
										src: url('Folks-Normal-webfont.woff');
										src: url('Folks-Normal-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}