@font-face {
							font-family: 'Freshman';
							src: url('freshman-webfont.woff');
							src: url('freshman-webfont.woff') format('woff');
							font-weight: normal;
							font-style: normal;
						}