@font-face {
										font-family: 'Ghosttown BC';
										src: url('Ghosttown-BC.ttf.woff');
										src: url('Ghosttown-BC.ttf.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}