@font-face {
							font-family: 'Gputeks';
							src: url('gputeks-regular-webfont.woff');
							src: url('gputeks-regular-webfont.woff') format('woff');
							font-weight: normal;
							font-style: normal;
						}