@font-face {
										font-family: 'Interceptor';
										src: url('interceptor-webfont.woff');
										src: url('interceptor-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}