@font-face {
										font-family: 'Janda Curlygirl Pop';
										src: url('Janda-Curlygirl-Pop.ttf.woff');
										src: url('Janda-Curlygirl-Pop.ttf.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}