@font-face {
										font-family: 'Karatula';
										src: url('Karatula.woff');
										src: url('Karatula.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}