@font-face {
										font-family: 'KG Beautiful Ending';
										src: url('KG-Beautiful-Ending.woff');
										src: url('KG-Beautiful-Ending.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}