@font-face {
										font-family: 'Kroftsmann';
										src: url('kroftsmann-webfont.woff');
										src: url('kroftsmann-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}