@font-face {
										font-family: 'LeviScriptOpti';
										src: url('LeviScriptOpti.woff');
										src: url('LeviScriptOpti.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}