@font-face {
										font-family: 'Molot';
										src: url('molot-webfont.woff');
										src: url('molot-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}