@font-face {
							font-family: 'NotCourierSans';
							src: url('notcouriersans-webfont.woff');
							src: url('notcouriersans-webfont.woff') format('woff');
							font-weight: normal;
							font-style: normal;
						}