@font-face {
							font-family: 'Ostrich Sans';
							src: url('ostrich-regular-webfont.woff');
							src: url('ostrich-regular-webfont.woff') format('woff');
							font-weight: normal;
							font-style: normal;
						}