@font-face {
							font-family: 'Oswald';
							src: url('oswald-regular-webfont.woff');
							src: url('oswald-regular-webfont.woff') format('woff');
							font-weight: normal;
							font-style: normal;
						}