@font-face {
										font-family: 'Pacifico';
										src: url('pacifico-webfont.woff');
										src: url('pacifico-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}