@font-face {
										font-family: 'Pokemon';
										src: url('Pokemon.woff');
										src: url('Pokemon.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}