@font-face {
							font-family: 'Print Clearly';
							src: url('printclearly-webfont.woff');
							src: url('printclearly-webfont.woff') format('woff');
							font-weight: normal;
							font-style: normal;
						}