@font-face {
										font-family: 'Sail';
										src: url('sail-regular-webfont.woff');
										src: url('sail-regular-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}