@font-face {
										font-family: 'Sansation';
										src: url('sansation-regular-webfont.woff');
										src: url('sansation-regular-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}