@font-face {
										font-family: 'Santana';
										src: url('Santana-webfont.woff');
										src: url('Santana-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}