@font-face {
										font-family: 'SF Archery Black';
										src: url('SF_Archery_Black-webfont.woff');
										src: url('SF_Archery_Black-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}