@font-face {
										font-family: 'SF Burlington Script';
										src: url('SF_Burlington_Script-webfont.woff');
										src: url('SF_Burlington_Script-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}