@font-face {
							font-family: 'SF Cartoonist Hand SC';
							src: url('sf_cartoonist_hand_sc-webfont.woff');
							src: url('sf_cartoonist_hand_sc-webfont.woff') format('woff');
							font-weight: normal;
							font-style: normal;
						}