@font-face {
										font-family: 'SF Wonder Comic';
										src: url('SF_Wonder_Comic-webfont.woff');
										src: url('SF_Wonder_Comic-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}