@font-face {
							font-family: 'Stroke';
							src: url('stroke-regular-webfont.woff');
							src: url('stroke-regular-webfont.woff') format('woff');
							font-weight: normal;
							font-style: normal;
						}