@font-face {
										font-family: 'Tahoma';
										src: url('tahoma-webfont.woff');
										src: url('tahoma-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}