@font-face {
							font-family: 'TeXGyreCursor';
							src: url('texgyrecursor-regular-webfont.woff');
							src: url('texgyrecursor-regular-webfont.woff') format('woff');
							font-weight: normal;
							font-style: normal;
						}