@font-face {
							font-family: 'Times_New0';
							src: url('times-webfont.woff');
							src: url('times-webfont.woff') format('woff');
							font-weight: normal;
							font-style: normal;
						}