@font-face {
							font-family: 'Varsity';
							src: url('varsity_regular-webfont.woff');
							src: url('varsity_regular-webfont.woff') format('woff');
							font-weight: normal;
							font-style: normal;
						}