@font-face {
										font-family: 'Verdana';
										src: url('verdana-webfont.woff');
										src: url('verdana-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}