@font-face {
							font-family: 'Voyager grotesque';
							src: url('voyager_grotesqueregular-webfont.woff');
							src: url('voyager_grotesqueregular-webfont.woff') format('woff');
							font-weight: normal;
							font-style: normal;
						}