@font-face {
										font-family: 'Walkway_Black_400';
										src: url('Walkway_Black-webfont.woff');
										src: url('Walkway_Black-webfont.woff') format('woff');
										font-weight: normal;
										font-style: normal;
									}