@font-face {
							font-family: 'Walkway Black';
							src: url('Walkway_Black.woff');
							src: url('Walkway_Black.woff') format('woff');
							font-weight: normal;
							font-style: normal;
						}