@font-face {
							font-family: 'Xephyr Expanded';
							src: url('Xephyr_Expanded.woff');
							src: url('Xephyr_Expanded.woff') format('woff');
							font-weight: normal;
							font-style: normal;
						}