.left-share-panel {top:3px;}
.object-align { margin-top: 0;}
#addtocartmessage div.clr ul {width: 260px;left: 200px;}
#addtocartmessage div.clr label.label{width:195px}
.align_icons #align_relative_to {width: 135px;}
.align_icons #relativeToLabel { height: 31px;}